* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

header span:not(:nth-child(2)) {
    cursor: pointer;

    &:hover {
        color: blue;
    }
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 10px 50px;
    /* Optional: Adds spacing between items */
}

.item {
    background-color: rgb(204, 178, 143);
    height: 200px;
    /* Fixed height, but can be adjusted as needed */
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
}

.item button {
    font-size: 20px;
    cursor: pointer;
}

.cart {
    position: fixed;
    /* Keep the cart fixed on the screen */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Offset the position by half of its width and height */
    background-color: rgb(192, 174, 151);
    border: 1px solid #ccc;
    /* Border around the cart (optional) */
    padding: 20px;
    /* Padding inside the cart (optional) */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    /* Shadow effect (optional) */
    z-index: 1000;
    /* Ensure it appears above other content */
    width: 80%;
    display: none;
}

.cart ul {
    padding: 20px 40px;
    font-size: 25px;
}

.cart ul li {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}